.row {
    overflow: hidden;
    position: relative;
}
.col {
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    width: 100%;
    float: left;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.67%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.67%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.67%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-offset-1 {
    margin-left:8.33%;
}
.col-offset-2 {
    margin-left:16.67%;
}