.compAnalysisListTable {
    table-layout: fixed;
} 
.compAnalysisListTable colgroup col:last-child{
    width:5%;
}
.compAnalysisListTable td{
    text-align: center;
}
.compAnalysisModal{
	width:80rem;
	min-height: 40rem;
    top: 10rem;
    margin-top:0;
}