<div class="row">
    <div class="col col-3">
        Conservation Status:
    </div>
    <div class="col col-9 radio-group">
        <%_.each(this.refData.ConservationStatus, function(d){%>
            <label>
                <input name="ConservationStatusID" type="radio" value="<%=d.id%>">
                <%=d.desc%>
            </label>
            <%});%>
    </div>
</div>
<div class="row">
    <div class="col col-3">
        Geographic Extent:
    </div>
    <div class="col col-9 radio-group">
        <%_.each(this.refData.GeographicExtents, function(d){%>
            <label>
                <input name="GeographicExtentID" type="radio" value="<%=d.id%>">
                <%=d.desc%>
            </label>
            <%});%>
    </div>
</div>
<div class="row">
    <div class="col col-3">
        Potential Impact of File:
    </div>
    <div class="col col-9 radio-group">
        <%_.each(this.refData.PotentialImpacts, function(d){%>
            <label>
                <input name="PotentialImpactID" type="radio" value="<%=d.id%>">
                <%=d.desc%>
            </label>
            <%});%>
    </div>
</div>
