<div class="compTreatmentListItem" data-treatment>
    <div class="row">
        <div class="col col-3">
            <label>
                Strategy:
            </label>
        </div>
        <div class="col col-9">
            <input type="text" name="TreatmentStrategyDesc" readonly onfocus="this.blur()" class="full-width" />
        </div>
    </div>
    <div class="row">
        <div class="col col-3">
            <label>
                Treatment:
            </label>
        </div>
        <div class="col col-9">
            <input type="text" name="TreatmentTypeDesc" readonly onfocus="this.blur()" class="full-width" />
        </div>
    </div>
    <div class="row treatment-input-wrap">
        <div class="col">
            <i class="fa fa-plus" title="add" data-click="add"></i>
            <i class="fa fa-arrow-up" title="move up" data-click="up"></i>
            <i class="fa fa-arrow-down" title="move down" data-click="down"></i>
            <i class="fa fa-trash" title="delete" data-click="del"></i>
            <i class="fa fa-bookmark" title="note" data-click="note"></i>
            <i class="fa fa-pencil right" title="edit" data-click="edit"></i>
        </div>
    </div>
</div>
