<div class="compNoteList">
    <div class="row">
        <div class="col">
            <table class="compNoteListTable full-width">
                <thead>
                    <tr>
                        <th>
                            Type
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Raised Date
                        </th>
                        <th>
                            Raised By
                        </th>
                        <th>
                            Comment
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-right compNoteListBottomButtons">
        <div class="col">
            <button data-click="create">Add a Note</button>
            <button data-click="close" class="secondary">Close</button>
        </div>
    </div>
</div>
